@page
@model Web_App.Pages.WeatherModel
@{
}

@foreach (var weather in Model.WeatherList)
{
    <div class="card">
        <div>Name @weather.name</div>
        <div>Date @weather.dateString</div>
        <div>Humidity @weather.humidity</div>
        <div>Location @weather.location</div>
        <div>Temperature @weather.temperature</div>
        <div>WindSpeed @weather.windSpeed</div>
    </div>
}